use strict;
use warnings;

load_plugin qw(
    Colors
    Completion
    CompletionDriver::Globals
    CompletionDriver::INC
    CompletionDriver::Keywords
    CompletionDriver::LexEnv
    CompletionDriver::Methods
    DumpHistory
    History
    LexEnv
    ReadLineHistory
);
