use strict;
use warnings;

load_plugin qw(
    Colors
    Completion
    CompletionDriver::Globals
    CompletionDriver::INC
    CompletionDriver::Keywords
    CompletionDriver::LexEnv
    CompletionDriver::Methods
    DumpHistory
    FancyPrompt
    History
    LexEnv
    ReadLineHistory
);

$_REPL->fancy_prompt(sub {
    my $self = shift;
    sprintf 're.pl:%03d%s> ',
    $self->lines_read,
    $self->can('line_depth') ? ':' . $self->line_depth : '';
});

$_REPL->fancy_continuation_prompt(sub {
    my $self = shift;
    sprintf 're.pl:%03d%s* ',
    $self->lines_read,
    $self->can('line_depth') ? ':' . $self->line_depth : '';
});
